body {
    margin: 0;
}

h1 {
    text-align: center;
}

#container {
    margin: 10px;
    padding: 20px;
}

.float-left {
    float: left;
}

#giphy-images {
    float: left,
}

.buttons {
    inline-size: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
}